{{! NB: Tabindexes on these elements and their children are overridden via js}}
<div class="form-group">
  {{!--<label id="batch-target" for="batch-target-path" class="label-affil">These Perma Links were added to (movable batches coming soon!)</label><select id="batch-folder" class="form-control"><option>{{ folder }}</option></select>--}}
  <p>These Perma Links were added to {{ folder }}</p>
</div>
<div class="form-group">
{{#each links}}
  <div class="item-container {{#if isError}} _isFailed{{/if}} {{#if user_deleted}} _isFailed{{/if}}">
    <div class="row">
      {{#if isError }}
        <div class="link-desc col col-sm-6 col-md-60">
          <div class="failed_header">{{ error_message }}</div>
          <div class="item-title">We’re unable to create your Perma Link.</div>
          <div class="item-date">submitted: {{ submitted_url }}</div>
        </div>
      {{ else }}
        <div class="link-desc col col-sm-6 col-md-60">
          {{#if user_deleted}}<div class="failed_header">Deleted</div>{{/if}}
          <div class="item-title">{{ title }}</div>
          <div class="item-subtitle">{{ submitted_url }}</div>
        </div>
        <div class="link-progress col col-sm-6 col-md-40 align-right item-permalink">
          {{#if isPending}}
            {{#if beginsIn}}
              <span>Queued: begins in {{ beginsIn }}</span>
            {{ else }}
              <span>Queued.</span>
            {{/if}}
          {{else if isProcessing}}
            {{> progress-bar progress=progress }}
          {{else if isComplete}}
            <a class="perma no-drag" href="//{{local_url}}" target="_blank">{{local_url}}</a>
          {{/if}}
        </div>
      {{/if}}
    </div>
  </div>
{{/each}}
</div>
