{{#if query }}
  <div class="shared-folder-label alert-success">
    Search results for "{{ query }}".
    <a href="#" class="clear-search">Clear search.</a>
  </div>
{{else}}
  <!-- TODO: insert template from comment above -->
{{/if}}


{{#each links}}
  <div class="item-container _isExpandable{{#if is_private }} _isPrivate{{/if}}{{#if is_failed }} _isFailed{{/if}}{{#if is_pending }} _isPending{{/if}}">
    <div class="row item-row row-no-bleed _isDraggable" data-link_id="{{ guid }}">
      <div class="row">
        <div class="col col-sm-6 col-md-60 item-title-col">
          <!-- expand arrow -->
          <button
             aria-label="Show Details for Link {{ guid }}"
             class="_visuallyHidden toggle-details expand-details"
             title="Show Link Details for Link {{ guid }}">
          </button>

          <!-- collapse arrow -->
          <button
             aria-label="Hide Details for Link {{ guid }}"
             class="toggle-details collapse-details"
             title="Hide Link Details for Link {{ guid }}">
          </button>

          {{#if is_pending }}<div class="failed_header">Capture In Progress</div>{{/if}}
          {{#if is_failed }}<div class="failed_header">Capture Failed</div>{{/if}}
          {{#if is_private }}
          <div class="item-private">
            <span class="ui-private">[private] </span>
            <span class="private-hint">Private record</span>
          </div>{{/if}}
          <div class="item-title">
            <span>{{ title }}</span>
          </div>
          <div class="item-subtitle">
            <a href="{{ url }}" target="_blank" class="item-link-original no-drag">
              {{ truncatechars url 200 }}
            </a>
          </div>
        </div>
        <div class="col col-sm-6 col-md-40 align-right item-permalink">
          {{#if delete_available}}<a class="delete no-drag" href="/manage/delete-link/{{guid}}">Delete</a>{{/if}}
          <a class="perma no-drag" href="//{{local_url}}" target="_blank">{{local_url}}</a>
        </div>
      </div>
      <div class="row item-secondary">
        <div class="col col-sm-5 pull-right sm-align-right">
          <span class="item-date"><span class="label">Created </span>{{creation_timestamp_formatted}}</span>
        </div>
      </div>
    </div>

    <div class="row item-details" {{#if search_query_in_notes}}style="display:block"{{/if}}>
      <div class="col-sm-7">

        <div class="form-group">
          <label for="link-title-{{guid}}">Display title</label>
          <span class="title-save-status"></span>
          <input type="text" class="link-title" name="input" id="link-title-{{guid}}" value="{{title}}">
        </div>

        <div class="form-group">
          <label for="link-description-{{guid}}">Display description</label>
          <span class="description-save-status"></span>
          <input type="text" class="link-description" name="input" id="link-description-{{guid}}" value="{{description}}">
        </div>

        <div class="form-group">
          <label for="link-notes-{{guid}}">Notes</label>
          <span class="notes-save-status"></span>
          <textarea id="link-notes-{{guid}}" class="link-notes" rows="6">{{notes}}</textarea>
          <span class="muted">
            Notes are private to you and your organization(s)
          </span>
        </div>

        <div class="form-group">
            <label for="move-to-folder-{{guid}}">Move to folder</label>
          <select id="move-to-folder-{{guid}}" class="move-to-folder form-control"></select>
        </div>

        <div class="form-group">
          <fieldset class="default-to-screenshot-view">
            <legend class="default-to-screenshot-view">Default view
              <span class="default_to_screenshot_view-save-status"></span>
            </legend>
            <label class="radio-inline" for="link-default-to-standard-view-{{guid}}">
              <input type="radio" id="link-default-to-screenshot-view-{{guid}}" class="link-default-to-standard-view" name="default-view" value="false"  {{#unless default_to_screenshot_view}} checked="checked" {{/unless}}>
              Standard
            </label>
            <label class="radio-inline" for="link-default-to-screenshot-view-{{guid}}">
              <input type="radio" id="link-default-to-screenshot-view-{{guid}}" class="link-default-to-screenshot-view" name="default-view"  value="true" {{#if default_to_screenshot_view}} checked="checked" {{/if}}>
              Screenshot
            </label>
          </fieldset>
          <span class="muted">
            Default view preference is private to you and your organization(s)
          </span>
        </div>

      </div>
      <div class="col-sm-5 link-stats">
        <div><span><strong>Created by:</strong> {{created_by.full_name}}</span></div>
      </div>
    </div>
  </div>
{{else}}
  <div class="row item-row row-no-bleed">
    <div class="row">
      <div class="col col-xs-12">
        <div class="item-title">
          <p class="item-notification">This is an empty folder</p>
        </div>
      </div>
    </div>
  </div>
{{/each}}
