{{# eachWithPrevious orgs}}
  {{#compare @previous.registrar "!=" registrar}}
    <li class="dropdown-header">{{registrar}}</li>
  {{/compare}}
  <li>
    <a href="#" data-orgid="{{ id }}" data-folderid="{{ shared_folder.id }}">
      {{ name }} {{#if default_to_private }}<span class="ui-private">(Private)</span> {{/if}}<span class='links-unlimited'>unlimited</span>
    </a>
  </li>
{{/eachWithPrevious}}
{{#if sponsored_folders }}
  <li class="dropdown-header sponsored">Sponsored Links</li>
  {{# each sponsored_folders}}
    <li>
      <a href="#" data-folderid='[{{ parent }},{{ id }}]'>
        {{ name }} {{# if read_only }}<span class="links-remaining">0</span>{{ else }}<span class='links-unlimited sponsored'>unlimited</span>{{/if}}
      </a>
    </li>
  {{/each }}
{{/if}}
<li class="personal-links">
  <a href="#" data-folderid="{{ user_folder }}">
    Personal Links <span class="links-remaining">{{#compare links_remaining "==" 'Infinity' }}unlimited{{ else }}{{ links_remaining }}{{/compare}}</span>
  </a>
</li>
